html {
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.mono {
  font-family: "Ubuntu Mono",monospace;
  font-size: 24px;
  color: gray;
}

.homepage-list {
  font-size: 30px;
}

h2 {
  color: goldenrod;
}

a {
  text-decoration: none;
}

a:link {
  color: royalblue;
}

a:visited {
  color: rebeccapurple;
}

a:hover {
  color: darkcyan;
}

pre {
  border-radius: 10px;
}

div.a {
  word-wrap: normal;
}

ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

pre {
  overflow-x: scroll;
}

pre::-webkit-scrollbar {
  background-color: #191919;
  height: 20px;
  border-radius: 10px;
}

pre::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, deepskyblue, mediumaquamarine);
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.7);
  border-radius: 15px;
}

.header-container {
  background-color: #191919;
}
.header-list {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-list a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.header-list a:hover {
  color: goldenrod;
}
